<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/styles/styles.css">
    <head>
        <title>Welcome!</title>
        <center><h1>Chat Room</h1></center>

    </head>
    <body>
        <center>
        <div class = "stuff">
            New User? Click here to create an account.
            <br>
            <a href = "create"<button>Create</button></a>
            <br>
            <br>
            Already have an account? Click here to login.
            <br>
            <a href = "login"<button>Login</button></a>
        </div>
    </center>

    </body>
</html>